#include ".Xresources.d/colors"

Xcursor.size: 32
Xft.dpi: 100

URxvt.font: xft:Source Code Pro:size=10
URxvt.scrollBar: false
URxvt.saveLines: 2000
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

